/* ========== commons ============= */

// input date custom
input[type="date"]::-webkit-calendar-picker-indicator {
  @include bg-url(icon, 'icon-calendar.svg');
  
  background-position: center;
}

input[type="date"] {
  position: relative;
  padding-left: 35px;
  width: 130px;
  font-size: rem(15);
  letter-spacing: -0.05rem;

  @include mobile {
    width: 100%;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator { position: absolute; left: -15px; }
// input[type=date]::-webkit-datetime-edit-text { -webkit-appearance: none; display: none; }
// input[type=date]::-webkit-datetime-edit-month-field{ -webkit-appearance: none; display: none; }
// input[type=date]::-webkit-datetime-edit-day-field { -webkit-appearance: none; display: none; }
// input[type=date]::-webkit-datetime-edit-year-field { -webkit-appearance: none; display: none; }

input[type="date"]:focus {
  background-color: #E9FAF0;
  border: 1px solid color(main);
  outline: none;
}

.slt-list input:focus {
  border: 1px solid color(main);
  outline: none;
}

.txt-enter-wrap input:focus {
  border: 1px solid color(main);
  outline: none;
}