@charset "UTF-8";

@font-face {
  font-family: "spoqa";
  font-weight: 600;
  src: url("../fonts/Spoqa_Han_Sans_Neo_Bold.woff2") format("woff2"),
    url("../fonts/Spoqa_Han_Sans_Neo_Bold.woff") format("woff"),
    url("../fonts/Spoqa_Han_Sans_Neo_Bold.ttf") format("truetype"),
    url("../fonts/Spoqa_Han_Sans_Neo_Bold.otf") format("opentype");
}

@font-face {
  font-family: "spoqa";
  font-weight: 500;
  src: url("../fonts/Spoqa_Han_Sans_Neo_Medium.woff2") format("woff2"),
    url("../fonts/Spoqa_Han_Sans_Neo_Medium.woff") format("woff"),
    url("../fonts/Spoqa_Han_Sans_Neo_Medium.ttf") format("truetype"),
    url("../fonts/Spoqa_Han_Sans_Neo_Medium.otf") format("opentype");
}

@font-face {
  font-family: "spoqa";
  font-weight: 400;
  src: url("../fonts/Spoqa_Han_Sans_Neo_Regular.woff2") format("woff2"),
    url("../fonts/Spoqa_Han_Sans_Neo_Regular.woff") format("woff"),
    url("../fonts/Spoqa_Han_Sans_Neo_Regular.ttf") format("truetype"),
    url("../fonts/Spoqa_Han_Sans_Neo_Regular.otf") format("opentype");
}

@font-face {
  font-family: "spoqa";
  font-weight: 300;
  src: url("../fonts/Spoqa_Han_Sans_Neo_Light.woff2") format("woff2"),
    url("../fonts/Spoqa_Han_Sans_Neo_Light.woff") format("woff"),
    url("../fonts/Spoqa_Han_Sans_Neo_Light.ttf") format("truetype"),
    url("../fonts/Spoqa_Han_Sans_Neo_Light.otf") format("opentype");
}

@font-face {
  font-family: "spoqa";
  font-weight: 100;
  src: url("../fonts/Spoqa_Han_Sans_Neo_Thin.woff2") format("woff2"),
    url("../fonts/Spoqa_Han_Sans_Neo_Thin.woff") format("woff"),
    url("../fonts/Spoqa_Han_Sans_Neo_Thin.ttf") format("truetype"),
    url("../fonts/Spoqa_Han_Sans_Neo_Thin.otf") format("opentype");
}

html,
body,
a,
abbr,
address,
area,
article,
aside,
audio,
b,
base,
bdi,
bdo,
blockquote,
button,
canvas,
caption,
center,
circle,
cite,
clipPath,
code,
col,
colgroup,
cursor,
data,
datalist,
dd,
defs,
del,
desc,
details,
dfn,
dialog,
div,
dl,
dt,
ellipse,
em,
embed,
fieldset,
figcaption,
figure,
filter,
footer,
foreignObject,
form,
g,
h1,
h2,
h3,
h4,
h5,
h6,
hatch,
hatchpath,
head,
header,
hgroup,
i,
iframe,
image,
img,
input,
ins,
kbd,
keygen,
label,
legend,
li,
line,
link,
main,
map,
mark,
marker,
mask,
menu,
menuitem,
mesh,
meshpatch,
meshrow,
nav,
object,
ol,
optgroup,
option,
output,
p,
param,
path,
pattern,
picture,
pre,
progress,
q,
rb,
rect,
rp,
rt,
rtc,
ruby,
s,
samp,
section,
select,
set,
small,
source,
span,
strike,
strong,
sub,
summary,
svg,
symbol,
sup,
table,
tbody,
td,
template,
text,
textarea,
textPath,
tfoot,
th,
thead,
time,
title,
tr,
tspan,
u,
ul,
use,
video,
view,
wbr {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.15;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  font-family: "spoqa", sans-serif;
  word-break: break-all;
}

html,
body,
a,
address,
article,
aside,
b,
button,
dd,
div,
dl,
dt,
figcaption,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
i,
input,
ins,
label,
legend,
li,
main,
menu,
menuitem,
nav,
ol,
optgroup,
option,
output,
p,
section,
select,
small,
span,
strong,
sub,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
tr,
tspan,
u,
ul {
  stroke-width: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  word-break: keep-all;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  outline: 0;
  background-color: transparent;
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

ol,
ul,
dl {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: inherit;
}

textarea {
  resize: none;
  outline: none;
}

 /* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  html {
    line-height: 1.3;
  }

  body {
  scrollbar-face-color: #ebebeb;
  scrollbar-track-color: #fff;
  scrollbar-arrow-color: none;
  scrollbar-highlight-color: #ebebeb;
  scrollbar-3dlight-color: none;
  scrollbar-shadow-color: #ebebeb;
  scrollbar-darkshadow-color: none;
}
  
  button {
    background: none;
  }
}

select::-ms-expand {display:none}
