@charset "utf-8";

/* 레이아웃 */
#wrap {
  position: relative;
}
.l-center {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

.header {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 60px;
  opacity: 0;
  top: -100px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: flex;
  align-items: center;
}
.sticky {
  background: #f1faee;
  opacity: 1;
  top: 0px;
}

#contents {
  position: relative;
}
#sec1 {
  background: #a8dadc;
  position: relative;
  height: 100vh;
}
#sec2 {
  position: relative;
  background: #ffff;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sec3 {
  position: relative;
  background: #1d3557ff;
  color: #fff;
  height: 100vh;
}
#sec4 {
  background: #222222;
  height: 100vh;
  transition: all 0.4s linear;
  position: relative;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  --aspect-ratio: 32/17;
}

/* 스크롤시 fade in 효과 */
.fadeinleft {
  opacity: 0;
  margin-left: -300px;
  max-width: 100%;
}
.fadeinleft2 {
  opacity: 0;
  margin-left: -600px;
  max-width: 100%;
}
.fadeinleft3 {
  opacity: 0;
  margin-left: -800px;
  max-width: 100%;
}
.fadeinbottom {
  opacity: 0;
  margin-bottom: -300px;
  max-width: 100%;
}
.fadeinright {
  opacity: 0;
  margin-right: -100px;
  max-width: 100%;
}

/* 헤더 */
.header .l-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  display: block;
  font-size: 1.5em;
}

nav {
  float: right;
  font-size: 1rem;
  font-weight: 600;
}

.gnb-wrap .gnb-list {
  display: inline-block;
  margin-right: 14px;
}
.gnb-wrap .gnb-list .link {
  position: relative;
  display: block;
  color: rgb(119, 118, 118);
  font-size: 14px;
  font-weight: 400;
}
.gnb-wrap .gnb-list .link:hover {
  color: #000;
}

.gnb-wrap .gnb-list .link::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: #222;
  transform: scale(0);
  transition: all 0.4s;
}

.gnb-wrap .gnb-list .link:hover::before {
  background: #222;
  transform: scale(1);
}

/* section1 */
.hidden {
  opacity: 0;
}
.console-container {
  display: inline-block;
  margin-top: 50px;
  font-size: 2rem;
  padding-left: 460px;
  font-family: 'GmarketSans';
}
.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}

.sec1-txt-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 5rem;
}

.sec1-txt-wrap ul {
  text-align: center;
}
.sec1-txt-wrap ul li {
  display: inline-block;
  font-size: 3rem;
}

.scroll-down a {
  padding-top: 70px;
  position: absolute;
  bottom: 3vh;
  left: 50%;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  letter-spacing: 0.1em;
  transition: opacity 0.3s;
}
.scroll-down a:hover {
  opacity: 0.5;
}

.scroll-down a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #222;
  border-bottom: 1px solid #222;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

/* .scroll-down a {
  padding-top: 60px;
}
.scroll-down a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #222;
  border-bottom: 1px solid #222;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
} */

/* .scroll-down a span {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #222;
  border-radius: 50px;
  box-sizing: border-box;
}
.scroll-down a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: '';
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #222;
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
} */
/* @-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
} */

/* section2 */
#sec2 .l-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec2-title {
  margin-bottom: 50px;
}
.sec2-title h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

.text-box .about,
.skill {
  padding: 20px 80px 40px;
}

.img-wrap,
.text-box {
  width: 50%;
  display: inline-block;
  font-size: 1.5em;
}
.img-wrap img {
  width: 100%;
  border-radius: 20px;
}

.text-box .about .text {
  line-height: 1.6;
  word-break: keep-all;
}

#SkillBox {
  width: 95%;
  height: auto;
  background-color: #fff;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
}
#SkillBox img {
  width: 20%;
  height: 10%;
  margin: auto 35%;
  padding: 10px;
}
.SkillBar {
  width: 90%;
  height: 43px;
  position: relative;
  background: rgba(17, 17, 17, 0.3);
  margin: 20px 0;
  border-radius: 15px;
}
#Skill-HTML {
  width: 95%;
  /* animation: Animate-HTML 4s;
  -webkit-animation: Animate-HTML 4s;
  -moz-animation: Animate-HTML 4s;
  -o-animation: Animate-HTML 4s; */
  height: 43px;
  position: absolute;
  background-color: #55a69f;
  border-radius: 15px;
  line-height: 1;
}

@keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 95%;
  }
}
@-webkit-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 95%;
  }
}
@-moz-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 95%;
  }
}
@-o-keyframes Animate-HTML {
  from {
    width: 10px;
  }
  to {
    width: 100%;
  }
}

#Skill-CSS {
  /* animation: Animate-CSS 5s;
  -webkit-animation: Animate-CSS 5s;
  -moz-animation: Animate-CSS 5s;
  -o-animation: Animate-CSS 5s; */
  width: 90%;
  height: 43px;
  position: absolute;
  background-color: #55a69f;
  border-radius: 15px;
  line-height: 1;
}
@keyframes Animate-CSS {
  from {
    width: 10px;
  }
  to {
    width: 90%;
  }
}
@-webkit-keyframes Animate-CSS {
  from {
    width: 10px;
  }
  to {
    width: 90%;
  }
}
@-moz-keyframes Animate-CSS {
  from {
    width: 10px;
  }
  to {
    width: 90%;
  }
}
@-o-keyframes Animate-CSS {
  from {
    width: 10px;
  }
  to {
    width: 90%;
  }
}
#Skill-js {
  /* animation: Animate-js 5s;
  -webkit-animation: Animate-js 5s;
  -moz-animation: Animate-js 5s;
  -o-animation: Animate-js 5s; */
  width: 80%;
  height: 43px;
  position: absolute;
  background-color: #55a69f;
  border-radius: 15px;
  line-height: 1;
}
@keyframes Animate-js {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
@-webkit-keyframes Animate-js {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
@-moz-keyframes Animate-js {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
@-o-keyframes Animate-js {
  from {
    width: 10px;
  }
  to {
    width: 80%;
  }
}
#Skill-photoshop {
  /* animation: Animate-photoshop 4s;
  -webkit-animation: Animate-photoshop 4s;
  -moz-animation: Animate-photoshop 4s;
  -o-animation: Animate-photoshop 4s; */
  width: 85%;
  height: 43px;
  position: absolute;
  background-color: #55a69f;
  border-radius: 15px;
  line-height: 1;
}
@keyframes Animate-photoshop {
  from {
    width: 10px;
  }
  to {
    width: 85%;
  }
}
@-webkit-keyframes Animate-photoshop {
  from {
    width: 10px;
  }
  to {
    width: 85%;
  }
}
@-moz-keyframes Animate-photoshop {
  from {
    width: 10px;
  }
  to {
    width: 85%;
  }
}
@-o-keyframes Animate-photoshop {
  from {
    width: 10px;
  }
  to {
    width: 85%;
  }
}
.Skill-Area {
  z-index: 1;
  float: left;
  /* position: absolute; */
  margin-top: 15px;
  margin-left: 15px;
  text-shadow: none;
  color: #fff;
  font-size: 18px;
}
.PercentText {
  z-index: 3;
  position: relative;
  padding-right: 15px;
  margin-top: 15px;
  float: right;
  text-shadow: none;
  color: #fff;
  font-size: 18px;
}

/* section3 */
.sec3-title h2 {
  font-size: 2rem;
  font-weight: 600;
  padding: 70px 0 50px;
  color: #fff;
}
.slide .site-wrap {
  width: 100%;
  position: relative;
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.slide .site-wrap .site-img {
  width: 40%;
}
.slide .site-wrap .site-img img {
  max-width: 600px;
}
.slide .site-wrap .site-box {
  width: 50%;
  border-radius: 20px;
  background-color: rgb(24, 44, 73);
  padding: 30px;
}

.site-box .site-title {
  font-size: 3em;
  margin-bottom: 180px;
}
.site-box .site-txt1 {
  font-size: 1.2em;
  margin-bottom: 30px;
}
.site-box .site-txt1 p {
  padding-bottom: 10px;
}

.review {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.site-skill {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.site-box .site-txt2 {
  font-size: 1.2em;
}
.site-box .site-txt2 p {
  padding-bottom: 10px;
}

.site-img img {
  width: 100%;
}
.app img {
  width: 60%;
  margin: 0 auto;
}

/* view more */
.cta {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  line-height: 2em;
  padding: 2px 10px;
  background: #222;
  margin-top: 20px;
  transition: 0.2s all ease-out;
  -webkit-transition: 0.2s all ease-out;
  -moz-transition: 0.2s all ease-out;
  color: #fff;
  transition: 0.3s all ease-out;
  -webkit-transition: 0.3s all ease-out;
  -moz-transition: 0.3s all ease-out;
  letter-spacing: 1px;
}

a.cta.outline {
  z-index: 10;
  position: absolute;
  bottom: 2vh;
  right: 20px;
  background: transparent;
  border: 2px solid #222;
  overflow: hidden;
  padding: 11px;
  border-radius: 5px;
  font-size: 14px;
}

.cta.outline:before {
  content: "";
  height: 100%;
  z-index: -1;
  width: 100%;
  background: #222;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  transition: 0.6s transform cubic-bezier(1, 0.61, 0.165, 1);
  -webkit-transition: 0.6s transform cubic-bezier(1, 0.61, 0.165, 1);
  -moz-transition: 0.6s transform cubic-bezier(1, 0.61, 0.165, 1);
  transform-origin: right;
  -webkit-transform-origin: right;
}
.cta.outline span {
  position: relative;
  z-index: 3;
  -webkit-background-clip: text;
  background-clip: text;
  background: -webkit-linear-gradient(0deg, #fff 50%, #bfccfd 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: 100% 0;
  background-size: 200% 100%;
  color: transparent;
  transition: 0.6s all cubic-bezier(1, 0.61, 0.165, 1) 0.2s;
  -webkit-transition: 0.6s all cubic-bezier(1, 0.61, 0.165, 1) 0.2s;
  -moz-transition: 0.6s all cubic-bezier(1, 0.61, 0.165, 1) 0.2s;
}

.cta.outline:hover:before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  transform-origin: left;
  -webkit-transform-origin: left;
}
.cta.outline:hover {
  box-shadow: none;
}
.cta.outline:hover span {
  background-position: 0 0;
}

/* section4 */
.sec4-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
}
.sec4-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.sec4-title h2 {
  color: #fff;
  font-size: 5rem;
  font-weight: 500;
}
.sec4-cont {
  margin-top: 100px;
}
.sec4-cont .icon-cont-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.sec4-cont .icon-cont-wrap .list {
  position: relative;
  top: 0;
  width: 33.3%;
  transition: all 0.6s ease;
  cursor: pointer;
}
.sec4-cont .icon-cont-wrap .list .circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  top: 0;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.sec4-cont .icon-cont-wrap .list svg {
  color: #fff;
  font-size: 3em;
}

.sec4-cont .icon-cont-wrap .list .cont-text {
  opacity: 0;
  margin-top: 20px;
  text-align: center;
  color: #fff;
}

.sec4-cont .icon-cont-wrap .list:hover {
  top: -30px;
}
.sec4-cont .icon-cont-wrap .list:hover .cont-text {
  opacity: 1;
}

/* 슬라이드 커스텀 */
button.slick-prev, button.slick-next {
  top: -30px;
}
button.slick-prev {
  left: auto;
  right: 52px;
}
button.slick-next {
  right: 13px;
}

ul.slick-dots {
  top: auto;
  right: 0;
  bottom: -43px;
}