@charset "utf-8";

/* 레이아웃 */
#wrap {position: relative; }
#header {z-index: 999; position: fixed; width: 100%;}
#menu_cont {display: none; z-index: 99; position: fixed; top: 0; right: 0; width: 100%; background: #f7f7f6; height: 970px;}
#menu_cont.active {z-index: 99; position: fixed; top: 0; right: 0; width: 100%; background: #f7f7f6; height: 970px;}
#contents {position: relative;}
#sec1 {background: #fff; position: relative; height: 1000px; }
#sec2 {position: relative; height: 1300px;}
#sec3 {}
#sec4 {position: relative; height: 950px; background: ;}

body {overflow-x:hidden; overflow-y:auto;  --aspect-ratio: 32/17; cursor: none;}

/* 스크롤시 fade in 효과 */
.fadeinleft {
    opacity:0;
    margin-left:-300px;    
    max-width:100%;
}
.fadeinleft2 {
    opacity:0;
    margin-left:-600px;    
    max-width:100%;
}
.fadeinleft3 {
    opacity:0;
    margin-left:-800px;    
    max-width:100%;
}
.fadeinbottom {
    opacity:0;
    margin-bottom:-300px;    
    max-width:100%;
}
.fadeinright {
    opacity:0;
    margin-right:-100px;    
    max-width:100%;
}

/* 헤더 */
.logo {float: left; margin-left: 40px; padding-top: 30px; padding-bottom: 10px;}
.logo a {}
.logo a img {width: 70px; height: 40px;}
.ham {
    margin-top: 12px;
    margin-left: 66%;
}

/* 메뉴 */
.menu-nav {
  /* http://www.colorzilla.com/gradient-editor/ ;] */
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#9b8433+17,1d5606+49,507f0a+70,73880a+100 */
background: rgb(155,132,51); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(155,132,51,1) 17%, rgba(29,86,6,1) 49%, rgba(80,127,10,1) 70%, rgba(115,136,10,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(155,132,51,1) 17%,rgba(29,86,6,1) 49%,rgba(80,127,10,1) 70%,rgba(115,136,10,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(155,132,51,1) 17%,rgba(29,86,6,1) 49%,rgba(80,127,10,1) 70%,rgba(115,136,10,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b8433', endColorstr='#73880a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.menu-button {
  background: transparent;
  border: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  position: relative;
  z-index: 5;
}
.menu-button__logo {
  display: block;
  margin: 5px;
  height: auto;
  width: 50px;
}
.menu-button__burger {
  width: 30px;
  height: 30px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 12px 12px;
}
.menu-button__burger span {
  width: 100%;
  height: 3px;
  background: #000;
  margin: 3px;
  display: flex;
  transition: all 0.2s ease-out;
}
.menu-button__burger span:nth-child(2) {
  width: 70%;
}
.menu-button:hover {
  cursor: context-menu;
}
.menu-button.is-active {
  cursor: alias;
  background: #fff;
  transition: background 0.2s ease-out;
}
.menu-button.is-active .menu-button__burger span {
  width: 70%;
  transition: all 0.2s ease-out;
}

.menu-nav {
  width: 0;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 100%;
  overflow: hidden;
  opacity: 1;
  z-index: 1;
  transition: width 1.3s cubic-bezier(0, 0.74, 0.24, 1), left 1.3s cubic-bezier(0, 0.74, 0.24, 1);
  /* http://cubic-bezier.com/ ;] */
}
.menu-nav__list {
  margin: auto;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-out 0s;
}
.menu-nav__item {
  margin: 30px auto;
  font-size: 40px;
}
.menu-nav__item a {
  color: #ffffff;
  position: relative;
}
.menu-nav__item a::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 1px;
  background: #ffffff;
  right: 0;
  transition: all 0.2s ease-in-out;
}
.menu-nav__item a:hover::after {
  width: 100%;
}
.menu-nav__item:nth-child(1) {
  padding-left: 323px;
  transition: padding-left 0.2s cubic-bezier(0, 0.74, 0.24, 1) 1.2s;
}
.menu-nav__item:nth-child(2) {
  padding-left: 270px;
  transition: padding-left 0.2s cubic-bezier(0, 0.74, 0.24, 1) 1.2s;
}
.menu-nav__item:nth-child(3) {
  padding-left: 240px;
  transition: padding-left 0.2s cubic-bezier(0, 0.74, 0.24, 1) 1.2s;
}
.menu-nav__item:nth-child(4) {
  padding-left: 245px;
  transition: padding-left 0.2s cubic-bezier(0, 0.74, 0.24, 1) 1.2s;
}
.menu-nav.is-active {
  width: 100vw;
  opacity: 1;
  left: 0;
}
.menu-nav.is-active .menu-nav__list {
  opacity: 1;
  transition: opacity 1s ease-in-out 1s;
}
.menu-nav.is-active .menu-nav__item {
  padding-left: 0;
  transition: padding-left 0.6s cubic-bezier(0, 0.74, 0.24, 1) 1.2s;
}

/* section1 */
div#shell {
       display: block;
       position: relative;
       margin: 0 auto;
       width: 50%;
       height: 250px;
       transform: translateY(50%);
}
div#shell{
  z-index: 1;
}
img#plax-logo {
  position: absolute;
  top: 60px;
  left: 40px;
  z-index: 3;
  width: 100%;
}
img#plax-sphere-1 {
  position: absolute;
  z-index: 4;
  top: 189px;
  left: 191px;
}
img#plax-sphere-2 {
  position: absolute;
  z-index: 2;
  top: 49px;
  left: 53px;
  width: 100%;
    
}
img#plax-sphere-3 {
  position: absolute;
  top: 35px;
  left: 32px;
  z-index: 1;
}


/* section2 */
.sec2_box {width: 1400px; margin: 0 auto;}
.sec2_title {margin-bottom: 30px; }
.sec2_title h2 {font-size: 120px; font-weight: bold; color: #;}
.sec2_cont {display: inline-block; width: 100%; padding-bottom: 40px; }
.sec2_cont img {float: left; padding-right: 40px; }
.sec2_txt {}
.sec2_txt strong {font-size: 60px;line-height: 1.8; color: ;}
.sec2_txt p {font-size: 30px; color: ;}
.skill {width: 150px; margin-left: 250px; }
.skill h2 {font-size: 50px; font-weight: bold; color: ;}

.chart2 {left: 160px; top:-170px;}
.chart3 {left: 320px; top:-340px;}
.chart4 {left: 480px; top:-510px;}
.chartWrap {background: #ddd; height: 00px;}
.chartWrap p {margin-top: 15px; font-size: 18px;}

.licenseWrap {width: 350px; height: 100px; margin-top: 15px;margin-left: 700px; position: relative;}
.license_l {position: absolute; top: 0;}
.license_l i {font-size: 90px; margin-right: 10px; color: #b4dec9;}
.license_l ul {margin-top: 10px;font-size: 16px;}
.license_l ul li {line-height: 1.7;}
.license_r {position: absolute; top: 0px; right: 0px;}
.license_r i {font-size: 90px; margin-right: 10px; color: #b4dec9;}
.license_r ul {margin-top: 10px; font-size: 16px;}
.license_r ul li {line-height: 1.7; }

.bg1 {background: rgba(0,0,0,0.1); position: absolute; top: 40px; left:0px; width: 100%; height: 900px; transform: rotate(10deg);}
/*
.bg2 {background: rgba(0,0,0,0.6); position: absolute; top: 1200px; left:0; width: 100%; height: 4700px; transform: rotate(0deg);}
*/


/* section3 */
.sec3_title {}
.sec3_title h2 {font-size: 120px;  margin-left: 20px;  font-weight: bold; color: rgba(0,0,0,0.3);}

.pro_cont {
    width: 100%;
    padding: 35vh 0 40vh;
    overflow: hidden;
    --image-widthMax: 600px;
}
.content-item {
    /* width: 1000px; */
    --image-width: calc(var(--image-widthMax) * var(--aspect-ratio));
    width: var(--image-width);
    margin: 10vh 12vh 45vh;
    max-width: 90vw;
    position: relative;
}
.content-item:nth-child(even){
    margin-left: 110vh;
}
.content-item-num {
    font-size: 15vw;
    opacity: 0.04;
    line-height: 1;
    font-weight: 100;
    color: var(--color-title);
    position: absolute;
    top: -7vw; right: 12vw;
}
.content-item:nth-child(even) .content-item-num {
    right: auto; left: -7vw;
}
.content-item-title {
    text-align: right;
    font-weight: 300;
    text-transform: capitalize;
    color: var(--color-sub);
    padding-bottom: 2.5vw;
    padding-right: 21vw;
    font-size: 1.5rem;
}
.content-item:nth-child(even) .content-item-title {
    text-align: left;
}
.content-item-imgWrap {
    /* width: 100%;
    padding-bottom: 57%; */
    --width: 80%;
    width: var(--width);
    padding-bottom: calc( (var(--width)) / (var(--aspect-ratio)) );
    will-change: transform;
    position: relative; z-index: 10;
    overflow: ;
}
.content-item-img {
    /*height: 550px;
    position: absolute;
    top: -30px; */
    width: var(--width);
    background-size: cover;
    background-position: 50% 0;
    --overflow: 40px;
    height: calc(120% + (2 * var(--overflow)));
    position: absolute;
    top: calc( -1 * var(--overflow));
    will-change: transform;
}
.content-item-descWrap {
    position: absolute; top: 100px; right: 0;
}
.content-item-desc {
    font-size: 1.5vw;
    line-height: 1.8;
    font-weight: 100;
    text-transform: uppercase;
    color: var(--color-title);
    text-align: right;
    word-break: keep-all;
    margin-top: 0;
    margin-right: -27vw;
    position: relative;
    z-index: 20;

}
.content-item:nth-child(even) .content-item-descWrap {
    position: absolute; top: 180px; left: 0;
}
.content-item:nth-child(even) .content-item-desc {
    text-align: left;
    margin-right: 0;
    margin-left: -45vw;
}

.content-item:nth-child(3) .content-item-descWrap {
    position: absolute; top: 130px; right: 0;
}

#pro1 .content-item-img {background-image: url(../img/site1.png);}
#pro2 .content-item-img {background-image: url(../img/site2.png);}
#pro3 .content-item-img {background-image: url(../img/site3.png);}
#pro4 .content-item-img {background-image: url(../img/site4.png);}

.btn {position: absolute; bottom: 20px; right: -280px;}
.content-item:nth-child(even) .btn {position: absolute; bottom: 20px; left: -700px;}
.content-item:nth-child(3) .btn {position: absolute; bottom: 80px; right: -280px;}



button {
  position: absolute; bottom: 0; right: -500px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
#pro2 > #container > button {
    position: absolute; bottom: 0; left:-830px;
}
#pro3 > #container > button {
    position: absolute; bottom: 100px; right:-500px;
}
#pro4 > #container > button {
    position: absolute; bottom: 60px; left:-830px;
}


button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}


  #container {
    grid-area: main;
    align-self: center;
    justify-self: center;
  }
}


/*버튼 이벤트
.btn a {
	overflow: hidden;
    position: relative;
	display: inline-block;
	margin: 15px 25px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.5em;
}
.btn a span {
	display: block;
	padding: 10px 20px;
	background: #0f7c67;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}
.btn a::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	padding: 10px 20px;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #0f7c67;
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-25%);
}
.btn a:hover span,
.btn a:focus span {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	transform: translateX(100%);
}
*/
.btn a:hover::before,
.btn a:focus::before {
	-webkit-transform: translateX(0%);
	-moz-transform: translateX(0%);
	transform: translateX(0%);
}

.pro_cont > section {opacity: 0; transform: translateY(100px); transition: all 0.6s ease;}
.pro_cont > section.show {opacity: 1; transform: translateY(0);}


/* section4 */
.sec4Wrap {}

.sec4_title {float: left; width: 100%; margin-top: 150px;}
.sec4_title h2 {font-size: 180px; font-weight: bold; margin-bottom: -40px;}

.container { 
  font-weight: bold;
  height: 20vh;
  color: #111;
}
.contact { font-size: 6rem; width: 1000px; position: relative; margin-left: 460px; font-size: 120px;}
.mark { 
  border-bottom: 4px solid #111; 
  width: 2rem;
  position: absolute;
  top: 10rem;
  left: 0.25rem;
  transform: translate3d(0, 0, 0);
  animation: mark-anim 10s infinite cubic-bezier(0.55, 0, 0.1, 1);
}

.o,
.n,
.t1,
.a,
.c2,
.t2,
.m { will-change: margin-left, margin-right; }

.o { 
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  animation: o-anim 10s infinite cubic-bezier(0.55, 0, 0.1, 1);
}

.n {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  animation: n-anim 10s infinite cubic-bezier(0.55, 0, 0.1, 1);
}

.t1 { 
  margin-left: 1rem;
  margin-right: 1rem; 
  animation: t1-anim 10s infinite cubic-bezier(0.55, 0, 0.1, 1);
}

.a { 
  margin-left: 1rem;
  margin-right: 1rem;
  animation: a-anim 10s infinite cubic-bezier(0.55, 0, 0.1, 1);
}

.c2 { 
  margin-left: 2rem;
  margin-right: 3rem;
  animation: c2-anim 10s infinite cubic-bezier(0.55, 0, 0.1, 1);
}

.t2 { 
  margin-left: 1rem;
  margin-right: 1rem;
  animation: t2-anim 10s infinite cubic-bezier(0.55, 0, 0.1, 1);
}

.m { 
  margin-left: 2rem;
  margin-right: 3rem;
  animation: m-anim 10s infinite cubic-bezier(0.55, 0, 0.1, 1);
}


@keyframes mark-anim {
  0%, 25%, 100% { 
    left: 1.5%;
  }
  50%, 75%  {
    left: 92%;
  }
}


@keyframes o-anim {
  0%, 25%, 100% { 
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  50%, 75%  {
    margin-left: 3rem;
    margin-right: 2rem;
  }
}

@keyframes n-anim {
  0%, 25%, 100% { 
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  50%, 75%  {
    margin-left: 1rem;
    margin-right: 1rem; 
  }
}

@keyframes t1-anim {
  0%, 25%, 100% { 
    margin-left: 1rem;
    margin-right: 1rem; 
  }
  50%, 75%  {
    margin-left: 1rem;
    margin-right: 1rem;  
  }
}

@keyframes a-anim {
  0%, 25%, 100% { 
    margin-left: 1rem;
    margin-right: 2rem; 
  }
  50%, 75%  {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@keyframes c2-anim {
  0%, 25%, 100%   { 
    margin-left: 2rem;
    margin-right: 3rem;
  }
  50%, 75% {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}

@keyframes t2-anim {
  0%, 25%, 100% { 
    margin-left: 1rem;
    margin-right: 2rem; 
  }
  50%, 75%  {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

@keyframes m-anim {
  0%, 25%, 100%   { 
    margin-left: 2rem;
    margin-right: 3rem;
  }
  50%, 75% {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
}

/*
.sec4_title em {font-size: 20px; margin-right: 400px;}
*/
.sec4_box { width: 800px; margin-left: 680px;}
.sec4_box ul {margin-top: 110px;  font-size: 24px; line-height: 2.5; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; padding: 30px; margin-right: 200px;}
.sec4_box ul li {padding-left: 100px;}
.sec4_box ul li i {margin-right: 30px;}
.hvr-hang {position: absolute; bottom: 530px; left: 300px; background: #f1e9ab; width: 150px; height: 80px; text-align: center; line-height: 4.4; border-radius: 50px; font-size: 18px;}

.hvr-hang a {text-decoration: none;}

/* hover 효과
@-webkit-keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang {
  0% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@-webkit-keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-hang-sink {
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
.hvr-hang {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
  -webkit-animation-name: hvr-hang-sink, hvr-hang;
  animation-name: hvr-hang-sink, hvr-hang;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
*/

/* 마우스를 따라다니는 원*/
.cursor {
            position: absolute;
            left: -100px;
            top: -100px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 3px solid #000;
            z-index: 1000;
            background-color: rgba(255, 255, 255, 0.1);
            user-select: none;
            pointer-events: none;
            transition: background-color .2s, border-color .2s;
        }























