// responsive Setting
@mixin media($width, $range: max) {
  @media all and (#{$range}-width: #{$width}) {
    @content;
  }
}

@mixin media-dv($device, $range: max) {
  @media all and (#{$range}-width: device($device, "key")) {
    @content;
  }
}

@mixin mobile($device: mb, $range: max) {
  @include media-dv($device, $range) {
    @content;
  }
}

// position: absolute
@mixin absolute($t: 0, $l: 0, $b: null, $r: null) {
  position: absolute;

  @if $t {
    top: if($b, auto, $t);
    bottom: $b;

    left: if($r, auto, $l);
    right: if($l == 0 or $l, $r, $l);
  }
}

// position: fixed
@mixin fixed($t: 0, $l: 0, $b: null, $r: null) {
  position: fixed;

  @if $t {
    top: if($b, auto, $t);
    bottom: $b;

    left: if($r, auto, $l);
    right: if($l == 0 or $l, $r, $l);
  }
}

@mixin wh($w: null, $h: null) {
  width: $w;
  height: $h;
}

@mixin circle($size) {
  @include wh($size, $size);

  border-radius: 50%;
  @content;
}

@mixin full {
  width: 100%;
  height: 100%;
}


@mixin flex($d: flex) {
  display: $d;
  @content;
}

@mixin flex-col($d: flex) {
  display: $d;
  flex-direction: column;
  @content;
}

@mixin flex-op($ai: null, $jc: null) {
  align-items: $ai;
  justify-content: $jc;
}

@mixin flex-center {
  @include flex {
    @include flex-item-center;
  }
}

@mixin flex-item-center {
  align-items: center;
  justify-content: center;
}

@mixin bg-url($path, $img, $op-default: false, $op-p: null, $op-s: null) {
  background-image: urlPath($path, $img);

  @if ($op-default) {
    @include bg-op;
  }

  @if $op-p and $op-s {
    @include bg-op($p: $op-p, $s: $op-s);
  } @else if $op-p {
    @include bg-op($p: $op-p);
  } @else if $op-s {
    @include bg-op($s: $op-s);
  }
}

@mixin bg-op($p: center, $s: cover, $r: no-repeat) {
  background-position: $p;
  background-size: $s;
  background-repeat: $r;
}

@mixin font-op($c: null, $w: null, $ls: null) {
  @content;

  font-weight: $w;
  color: $c;
  letter-spacing: $ls;
}

@mixin input-reset {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  box-shadow: none;
}

@mixin make-before($c: "", $d: block) {
  &:before {
    content: $c;
    display: $d;
    @content;
  }
}

@mixin make-after($c: "", $d: block) {
  &:after {
    content: $c;
    display: $d;
    @content;
  }
}

@mixin ie-style {
  @at-root html.ie & {
    @content;
  }
}

@mixin custom-scroll($c: null, $sub-c: #fafafa) {
  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $c;
  }

  @include ie-style {
    scrollbar-arrow-color: $c;
    scrollbar-face-color: $c;
    scrollbar-track-color: $sub-c;
  }
}