/* ====================================== common ====================================== */
/* font */

/* ---------- spoqa han sans neo ---------- */

@font-face {
  font-family: "spoqa";
  font-weight: 600;
  src: 
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.woff2")
      format("woff2"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.woff")
      format("woff"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.ttf")
      format("truetype"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Bold.otf")
      format("opentype");
}

@font-face {
  font-family: "spoqa";
  font-weight: 500;
  src: 
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.woff2")
      format("woff2"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.woff")
      format("woff"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.ttf")
      format("truetype"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Medium.otf")
      format("opentype");
}

@font-face {
  font-family: "spoqa";
  font-weight: 400;
  src: 
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.woff2")
      format("woff2"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.woff")
      format("woff"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.ttf")
      format("truetype"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Regular.otf")
      format("opentype");
}

@font-face {
  font-family: "spoqa";
  font-weight: 300;
  src: 
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.woff2")
      format("woff2"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.woff")
      format("woff"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.ttf")
      format("truetype"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Light.otf")
      format("opentype");
}

@font-face {
  font-family: "spoqa";
  font-weight: 100;
  src: 
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.woff2")
      format("woff2"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.woff")
      format("woff"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.ttf")
      format("truetype"),
    url("../../fonts/SpoqaHanSansNeo/Spoqa_Han_Sans_Neo_Thin.otf")
      format("opentype");
}

/* ---------- poppins ---------- */

@font-face {
  font-family: "poppins";
  font-weight: 900;
  src: 
    url("../../fonts/poppins/Poppins-Black.woff2") format("woff2"),
    url("../../fonts/poppins/Poppins-Black.woff") format("woff"),
    url("../../fonts/poppins/Poppins-Black.ttf") format("truetype"),
    url("../../fonts/poppins/Poppins-Black.otf") format("opentype");
}

@font-face {
  font-family: "poppins";
  font-weight: 800;
  src: 
    url("../../fonts/poppins/Poppins-ExtraBold.woff2") format("woff2"),
    url("../../fonts/poppins/Poppins-ExtraBold.woff") format("woff"),
    url("../../fonts/poppins/Poppins-ExtraBold.ttf") format("truetype"),
    url("../../fonts/poppins/Poppins-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "poppins";
  font-weight: 700;
  src: 
    url("../../fonts/poppins/Poppins-Bold.woff2") format("woff2"),
    url("../../fonts/poppins/Poppins-Bold.woff") format("woff"),
    url("../../fonts/poppins/Poppins-Bold.ttf") format("truetype"),
    url("../../fonts/poppins/Poppins-Bold.otf") format("opentype");
}

@font-face {
  font-family: "poppins";
  font-weight: 600;
  src: 
    url("../../fonts/poppins/Poppins-SemiBold.woff2") format("woff2"),
    url("../../fonts/poppins/Poppins-SemiBold.woff") format("woff"),
    url("../../fonts/poppins/Poppins-SemiBold.ttf") format("truetype"),
    url("../../fonts/poppins/Poppins-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: "poppins";
  font-weight: 500;
  src: 
    url("../../fonts/poppins/Poppins-Medium.woff2") format("woff2"),
    url("../../fonts/poppins/Poppins-Medium.woff") format("woff"),
    url("../../fonts/poppins/Poppins-Medium.ttf") format("truetype"),
    url("../../fonts/poppins/Poppins-Medium.otf") format("opentype");
}

@font-face {
  font-family: "poppins";
  font-weight: 400;
  src: 
    url("../../fonts/poppins/Poppins-Regular.woff2") format("woff2"),
    url("../../fonts/poppins/Poppins-Regular.woff") format("woff"),
    url("../../fonts/poppins/Poppins-Regular.ttf") format("truetype"),
    url("../../fonts/poppins/Poppins-Regular.otf") format("opentype");
}

@font-face {
  font-family: "poppins";
  font-weight: 300;
  src: 
    url("../../fonts/poppins/Poppins-Light.woff2") format("woff2"),
    url("../../fonts/poppins/Poppins-Light.woff") format("woff"),
    url("../../fonts/poppins/Poppins-Light.ttf") format("truetype"),
    url("../../fonts/poppins/Poppins-Light.otf") format("opentype");
}

@font-face {
  font-family: "poppins";
  font-weight: 200;
  src: 
    url("../../fonts/poppins/Poppins-ExtraLight.woff2") format("woff2"),
    url("../../fonts/poppins/Poppins-ExtraLight.woff") format("woff"),
    url("../../fonts/poppins/Poppins-ExtraLight.ttf") format("truetype"),
    url("../../fonts/poppins/Poppins-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: "poppins";
  font-weight: 100;
  src: 
    url("../../fonts/poppins/Poppins-Thin.woff2") format("woff2"),
    url("../../fonts/poppins/Poppins-Thin.woff") format("woff"),
    url("../../fonts/poppins/Poppins-Thin.ttf") format("truetype"),
    url("../../fonts/poppins/Poppins-Thin.otf") format("opentype");
}

@font-face {
  font-family: "poppins";
  font-weight: 600;
  font-style: italic;
  src: 
    url("../../fonts/poppins/Poppins-BoldItalic.woff2") format("woff2"),
    url("../../fonts/poppins/Poppins-BoldItalic.woff") format("woff"),
    url("../../fonts/poppins/Poppins-BoldItalic.otf") format("opentype"),
    url("../../fonts/poppins/Poppins-BoldItalic.ttf") format("truetype");
}

html {
  font-size: 16px;
  color: #1e1e1e;
}

/* pc, mobile에서만 보일 영역 */
.is-mo-show {
  display: none;
}

.is-tab-show {
  display: none;
}

/* 노출되지 않을 영역 */
.is-none {
  display: none;
}

/* 보이진 않지만 리딩되는 영역 */
.is-voice-only {
  position: absolute;
  top: 0;
  left: -9999rem;
  width: 1px;
  height: 1px;
  overflow: hidden;
  font-size: 1px;
}

/* 영어, 숫자만 있는 콘텐츠 */
.is-en {
  letter-spacing: 0;
}

/* input reset */
.input-reset {
  border-radius: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  outline: none;
  box-shadow: none;
}

/* layout */
.l-center {
  position: relative;
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

/* flex */
.flex-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* text */
.dec {
  font-size: 1.375rem;
  font-weight: 300;
}

.tit {
  font-size: 3.688rem;
  font-weight: 300;
  line-height: 1.2;
}

.regular-txt {
  font-weight: 400;
}

.medium-txt {
  font-weight: 500;
}

.bold-txt {
  font-weight: 600;
}

/* media query */
@media all and (max-width: 1320px) {
  .l-center {
    padding: 0 20px;
  }
}

@media all and (max-width: 1024px) {
  .is-tab-show {
    display: block;
  }
}

@media all and (max-width: 600px) {
  html {
    font-size: 10px;
  }

  .is-mo-show {
    display: block;
  }

  .is-mo-hide {
    display: none;
  }
}
