/* ================== main page ================== */
.page.main-page {
  padding: 80px 0 120px;
  margin: 0 auto;
  max-width: 1100px;
  min-width: auto;

  @include media(1340px) {
    padding-right: 20px;
    padding-left: 20px;
  }

  @include mobile {
    max-width: 100%;
    padding: 50px 0 22px 0;
  }
}

.main-wrap {
  .com-ft {
    padding: 0;
  
    @include media(1550px) {
      padding: 0 20px;
    }

    @include mobile {
      padding-left: 0;
    }

    .l-center {
      max-width: 1100px;

      @include media(1340px) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }
}

.page-wrap .page.main-page {
  @include mobile {
    padding-left: 0;
    padding-right: 0;
  }
}

.mb-main-logo {
  margin: 0 auto;
  margin-top: 44px;
}

.main-search-inp-wrap {
  position: relative;

  @include mobile {
    margin-right: 20px;
    margin-left: 20px;
  }

  .search-btn {
    @include bg-url(icon, 'icon-search-gn.svg');
    @include bg-op($s:contain);
    @include wh(25px, 25px);

    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
    cursor: pointer;

    @include mobile {
      @include wh(20px, 20px);

      left: 16px;
    }
  }

  .keyword-box {
    top: 100px;

    @include mobile {
      top: 53px;
    }
  }
}

.main-search-inp {
  width: 100%;
  padding: rem(28) rem(73);
  border: 2px solid color(main);
  border-radius: 50px;
  font-size: rem(22);
  box-shadow: 0 7px 15px rgba($color: #C3C3CE, $alpha: 0.3);
  outline: none;

  @include mobile {
    padding: rem(11) rem(50);
    font-size: rem(16);
  }

  &::placeholder {
    color: rgba($color: #303038, $alpha: 0.22);
  }
}

.main-search-wrap {
  margin-top: 60px;

  @include mobile {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .desc-wrap {
    @include flex-center;

    margin-top: rem(30);

    @include mobile {
      flex-direction: column;
      margin-top: rem(24);
    }

    strong {
      margin-right: 20px;
      font-size: rem(16);
      font-weight: 500;

      @include mobile {
        margin-right: 0;
        font-size: rem(15);
      }
    }
  }

  .desc-group {
    @include flex-center;

    @include mobile {
      overflow-x: scroll;
      width: 100%;
      margin-top: rem(13);
      padding: 0 20px;
      white-space: nowrap;
      font-size: rem(14);

      // 스크롤바 숨기기
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;

      /* Firefox */
      &::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari, Opera*/
      }

      @include media(375px) {
        justify-content: flex-start;
      }
    }

    .desc-list {
      margin-right: rem(25);

      @include mobile {
        margin-right: rem(20);
      }

      &:last-child {
        margin-right: 0;
      }

      &.txt-line {
        text-decoration: underline;
        color: #303038;
        font-weight: 400;
      }

      .link {
        font-size: rem(15);
        font-weight: 300;
        color: #64646A;

        @include mobile {
          font-size: rem(14);
        }

        &:hover,
        &:focus {
          font-weight: 400;
          text-decoration: underline;
          color: #303038;
        }
      }
    }
  }
}


.trending-wrap {
  position: relative;
  margin: rem(80) 0;

  @include mobile {
    margin: rem(53) 0 rem(60);
    padding: 0;
  }

  .main-ttl {
    position: relative;
    margin-bottom: rem(20);
    padding-left: rem(24);
    font-size: rem(22);
    font-weight: 600;

    @include make-before {
      @include absolute($t: 50%, $l:0);
      @include circle(10px);

      transform: translateY(-50%);
      background-color: color(main);
    }

    @include mobile {
      margin-bottom: rem(12);
      margin-left: 20px;
      padding-left: rem(16);
      font-size: rem(18);

      &::before {
        @include circle(6px);
      }
    }
  }

  .tranding-slide {
    width: 100%;
    padding-top: 50px;
    margin-top: -50px;
  }

  .slide-btn-wrap {
    @include flex;

    position: absolute;
    top: 0;
    right: 0;

    .slide-btn {
      @include bg-op;
      @include wh(18px, 16px);

      cursor: pointer;

      &.slide-btn-prev {
        @include bg-url(btn, 'btn-sld-prev.svg');

        margin-right: 25px;
      }

      &.slide-btn-next {
        @include bg-url(btn, 'btn-sld-nxt.svg');
      }
    }
  }
}

.main-banner-wrap {
  width: 100%;

  @include mobile {
    padding: 0 20px;
  }

  .link {
    display: block;
    cursor: pointer;
  }

  img {
    width: 100%;
    vertical-align: bottom;
    border-radius: 5px;
  }
}

.partner-wrap {
  padding: rem(78) 0 rem(110);

  @include mobile {
    padding: rem(30) 0 rem(36);
  }
}

.partner-group {
  @include flex;

  align-items: flex-end;

  @include mobile {
    flex-wrap: wrap;
    padding: 0 20px;
  }

  .partner-list {
    width: 25%;
    border-right: 1px solid #ECECF1;

    @include mobile {
      position: relative;
      width: 50%;
      padding: 10px 0;
      border-right: 0;
      border-bottom: 1px solid #ECECF1;

      @include make-after {
        @include absolute($t:50%, $l:auto, $r:0);
        @include wh(1px, 134px);

        transform: translateY(-50%);
        background-color: #ECECF1;
      }

      &:nth-child(even) {
        &::after {
          display: none;
        }
      }

      &:nth-child(3),
      &:nth-child(4) {
        border-bottom: 0;
      }
    }

    &:last-child {
      border-right: 0;
    }

    .link {
      @include flex-center;
      @include flex-col;

      &:hover {
        img {
          transform: translateY(-20px);
        }
      }

      img {
        transition: all 0.4s;
      }

      p {
        margin: 18px 0 2px;
        font-size: rem(15);
        font-weight: 300;
        color: #8F8F98;

        @include mobile {
          margin: 2px 0 3px;
          font-size: rem(13);
        }
      }

      span {
        font-size: rem(18);

        @include mobile {
          font-size: rem(15);
        }
      }
    }
  }
}

.main-desc-wrap {
  text-align: center;
  background-color: #F5F5F8;
  padding: rem(22) 0;

  @include mobile {
    margin-top: 20px;
    background-color: inherit;
    padding: 0 20px;
  }

  p {
    font-size: rem(14);
    font-weight: 300;
    color: #8F8F98;
    line-height: 1.6;

    @include mobile {
      text-align: left;
      font-size: rem(13);
      line-height: 1.8;
    }
  }
}

.mb-page-line {
  @include media(650px) {
    background-color: #F5F5F8;
    width: 100%;
    height: 8px;
  }
}