// header
.header {
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ECECF1;
  background-color: #FFFFFF;

  @include mobile {
    z-index: 11;
    max-width: 800px;
    height: 50px;
  }

  &.main {
    .vertical-gnb-wrap {
      display: none;
    }
  }

  .hd-inner {
    @include flex;

    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 rem(40);

    @include media(1550px) {
      padding: 0 25px;
    }

    @include mobile {
      padding: 0 20px 0 5px;
    }
  }

  .hd-left-wrap {
    @include flex;

    align-items: center;
    justify-content: flex-start;

    @include mobile {
      width: 100%;
    }

    .menu-btn {
      @include flex-center;

      margin-right: rem(30);
      cursor: pointer;

      @include mobile {
        @include wh(50px, 50px);

        margin-right: 5px;
      }

      img {
        @include mobile {
          width: 18px;
          height: 18px;
        }
      }

      .off {
          display: block;
      }

      .on {
          display: none;
      }

      &.is-active {
        .on {
            display: block;
        }

        .off {
            display: none;
        }
      }
    }

    .logo {
      margin-right: rem(37.5);

      @include mobile {
        display: none;
      }
    }
  }

  .inquiry-btn {
    @include flex;

    align-items: center;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    span {
      margin-right: rem(8);
      font-size: rem(16);
      color: #64646a;
    }
  }
}

.main {
  .hd-search-wrap {
    opacity: 0;
    pointer-events: none;
    transition: all 0.2s;

    &.is-active {
      opacity: 1;
      pointer-events: visible;
    }
  }

  &.company {
    .hd-search-wrap {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.search-btn {
  @include bg-url(icon, "icon-search-bk.svg");
  @include bg-op($s:contain);
  @include wh(18px, 18px);

  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  cursor: pointer;
}

.hd-search-wrap {
  position: relative;
  width: 880px;

  @include media(1340px) {
    width: 500px;
  }

  @include mobile {
    width: 100%;
  }

  .search-inp {
    padding: rem(12) rem(20) rem(12) rem(48);
    border: 1px solid #f5f5f8;
    border-radius: 50px;
    width: 100%;
    background-color: #f5f5f8;
    outline: none;

    @include mobile {
      font-size: rem(15);
      padding: rem(8) rem(40);
    }

    &::placeholder {
      color: rgba($color: #303038, $alpha: 0.22);
    }

    &:focus {
      border: 1px solid color(main);
      background-color: #fff;

      &::-webkit-input-placeholder,
      textarea:focus::-webkit-input-placeholder {
        color: transparent;
      }

      ~.search-btn {
        @include bg-url(icon, "icon-search-gn.svg");
      }
    }
  }
}

.keyword-box {
  @include custom-scroll($c: #ebebeb);

  z-index: 3;
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 56px;
  display: none;
  width: 100%;
  height: 300px;
  padding: rem(19) 0;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba($color: #c3c3ce, $alpha: 0.5);

  &.open {
    display: block;
  }

  @include mobile {
    top: 45px;
  }
}

.keyword-cont {
  &:first-child {
    .type {
      padding-top: 0;
    }
  }

  .type {
    padding: rem(17) rem(16) rem(8);
    font-size: rem(12);
    font-weight: 300;
    color: #8f8f98;

    .num {
      margin-left: 2px;
    }
  }

  .keyword-list {
    padding: rem(4) rem(16);
    font-size: rem(15);

    &:hover,
    &:focus {
      background-color: #f5f5f8;
    }
  }

  .coincide {
    color: color(main);
  }
}

// vertical gnb
.bg {
  opacity: 0;
  z-index: 9;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  transition: 0.3s;
  pointer-events: none;

  @include mobile {
    display: none;
  }

  &.is-active {
    opacity: 1;
    pointer-events: visible;
  }
}

// vertical-gnb
.vertical-gnb-wrap {
  z-index: 9;
  position: fixed;
  left: 0;
  width: 56px;
  height: 100%;
  padding: 80px 0 50px;
  background-color: #fff;
  border-right: 1px solid #ececf1;
  overflow-y: scroll;
  // 스크롤바 숨기기
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
  }

  @include media(1550px) {
    left: 0;
  }

  @include mobile {
    z-index: 1000;
    top: 0;
    left: auto;
    right: auto;
    bottom: 0;
    display: none;
    width: 100%;
    max-width: 800px;
    height: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
  }

  &.is-active {
    left: 0;
    width: 270px;

    @include media(1550px) {
      left: 0;
    }

    @include mobile {
      right: 0;
      display: block;
      width: 100%;
    }

    .main-gnb-wrap {
      &:after {
        width: 210px;

        @include mobile {
          width: calc(100% - 40px);
        }
      }
    }

    .gnb-cont {
      .ttl {
        padding: 0 rem(40);
        font-size: rem(18);
        text-align: left;

        @include mobile {
          padding: 0 rem(20);
        }
      }
    }

    .gnb-list {
      padding: 0 rem(40);

      @include mobile {
        padding: 0 rem(20);
      }

      .link {
        justify-content: flex-start;

        .txt {
          width: 100%;
          height: auto;
          margin-left: rem(10);
        }
      }
    }
  }

  &.main-gnb {
    left: -270px;
    width: 270px;
    transition: all 0.3s;

    @include mobile {
      left: -100%;
      display: block;
      width: 100%;
      transition: none;
    }

    .main-gnb-wrap {
      &:after {
        width: 210px;

        @include mobile {
          width: calc(100% - 40px);
        }
      }
    }

    .gnb-cont {
      .ttl {
        padding: 0 rem(40);
        font-size: rem(18);
        text-align: left;

        @include mobile {
          padding: 0 rem(20);
        }
      }
    }

    .gnb-list {
      padding: 0 rem(40);

      @include mobile {
        padding: 0 rem(20);
      }

      .link {
        justify-content: flex-start;

        .txt {
          width: 100%;
          height: auto;
          margin-left: rem(10);
        }
      }
    }

    &.is-active {
      left: 0;
    }
  }

  .main-gnb-wrap {
    position: relative;
    padding: rem(26) 0 rem(20);

    @include make-after {
      @include absolute($t: auto, $b: 0, $l: 50%);
      @include wh(39px, 1px);

      transform: translateX(-50%);
      background-color: color(main);
    }

    @include mobile {
      &::after {
        width: calc(100% - 40px);
      }
    }
  }

  .sub-gnb-wrap {
    padding-top: rem(20);

    @include mobile {
      padding-bottom: rem(20);
    }
  }

  .gnb-cont {
    &:first-child {
      .ttl {
        margin-top: 0;
      }
    }

    .ttl {
      display: block;
      margin: rem(24) 0 rem(11);
      font-size: rem(11);
      font-weight: 500;
      text-align: center;
    }
  }

  .gnb-list {

    &.is-active {
      background-color: #e9faf0;

      .link {
        color: #303038;
        font-weight: 500;

        @include mobile {
          padding: 12.5px 0;
        }
      }
    }

    .link {
      @include flex;

      align-items: center;
      // justify-content: flex-start;
      justify-content: center;
      padding: rem(12.5) 0;
      font-size: rem(15);
      color: #64646a;

      .txt {
        overflow: hidden;
        width: 0;
        height: 0;
      }
    }
  }
}

// pc에서 푸터 일부 모바일 네비로 이동
.company-gnb-wrap {
  @include mobile {
    position: relative;
    padding: rem(20) 0;

    @include make-before {
      @include absolute($t:0, $l:50%);
      @include wh(calc(100% - 40px), 1px);

      transform: translateX(-50%);
      background-color: #C3C3CE;
    }

    @include make-after {
      @include absolute($t:auto, $l:50%, $b:0);
      @include wh(calc(100% - 40px), 1px);

      transform: translateX(-50%);
      background-color: #C3C3CE;
    }
  }

  .gnb-list {
    .link {
      font-size: rem(15);
      padding: rem(14) 0;
      color: #303038;
      font-weight: 400;
    }
  }

  .gnb-btn {
    @include flex;

    align-items: center;
    font-size: rem(15);
    padding: rem(15) rem(20);
    cursor: pointer;

    @include mobile {
      padding: 0.782rem 1.25rem;
    }

    img {
      margin-left: 9px;
      transition: all .3s ease;
    }

    &.is-active {
      ~.sub-wrap {
        display: block;
      }

      img {
        transform: rotate(180deg);
      }
    }
  }

  .sub-wrap {
    display: none;
  }

  .sub-list {
    .sub-link {
      width: 100%;
      display: block;
      padding: rem(10) rem(20);
      color: #64646A;
      font-size: rem(14);
      font-weight: 300;
      background-color: #F5F5F8;

      &:hover,
      &:focus {
        background-color: #ECECF1;
      }
    }
  }

}

.sns-area {
  @include mobile {
    @include flex;

    align-items: center;
    justify-content: space-between;
    padding: rem(26) rem(20) rem(30);

    .ttl {
      color: #8F8F98;
      font-size: rem(13);
      font-weight: 500;
    }

    .sns-link-wrap {
      position: relative;
    }

    .sns-link img {
      width: 40px;
      vertical-align: bottom;
    }
  }
}

// 메뉴 클릭시 뒷배경추가, 스크롤 막기
.wrap {
  position: relative;

  &.is-active {
    &::after {
      display: block;
    }
  }
}

.hidden {
  height: 100%;
  min-height: 100%;
  overflow: hidden !important;
  touch-action: none;
}