@charset "utf-8";

/* 레이아웃 */
#wrap {max-width: 1440px; margin: 0 auto; border: 1px solid #d9d9d9;}
/*#slidewrap {position: relative; height: 670px; width: 100%; overflow: hidden;}*/
#content1 {overflow: hidden; width: 100%; margin-top: 10px;}
#content2 {margin-top: 10px;}
#content3 {height: 100px; background: rgb(247, 247, 247); padding: 35px 80px; border-bottom: 1px solid #ddd;}
#content4 {}

/* 네비게이션 */
.navWrap {position: relative; width: 1350px; height: auto; margin: 0 auto; padding: 8px 45px 0px;}
.navbar {float: right; margin-right: 35px;}
.navbar li {float: left; margin-left: 30px; font-size: 14px;}
.navbar li a {display: inline-block;}
.mainNav {overflow: hidden; display: inline-block; font-size: 18px; width: 100%;}
.mainNav .logo {float: left; padding: 5px 0 0 0; margin-left: 35px;}
.mainNav .logo img {width: 130px; height: 45px;}
.mainNav .gnb { margin-top: 15px; float: right; display: block; margin-right: 35px;}
.mainNav .gnb li {float: left; margin-left: 90px;}
.mainNav .gnb li a.active {padding-bottom: 14px; border-bottom: 4px solid #b45f1a;}

.mainNav .gnb li:nth-child(2):hover a {color: #b45f1a;}
.mainNav .gnb li:nth-child(5):hover a {color: #b45f1a;}

/*
.mainNav .gnb li:hover:before {content: ''; width: 100px; height: 4px; background: #b45f1a; position: absolute; bottom: 1px; }
.mainNav .gnb li:nth-child(2):hover:before {display: none;}
.mainNav .gnb li:nth-child(5):hover:before {display: none;}
*/

.mainNav .gnb li span i.on {color: #b45f1a; transform: rotate(180deg); transition: all 0.5s ease;}
.mainNav .gnb li span {color:#a9a9a9; }

/* 서브메뉴 */
.sub_bar { display: none; z-index: 999; background: #f7f7f7; width: 100%; height: 70px; z-index: 99; position: absolute; top: 90px; left: 0; border-top: 1px solid #d9d9d9; border-bottom: 1px solid #d9d9d9;}
.sub_bar ul {margin-left: 330px; }
.sub_bar ul li {float: left; color: #4f4c43; font-size: 16px; margin-left: 100px; }
.sub_bar ul li a {display: block; padding: 20px; text-align: center;}

.sub_1 {display: none; z-index: 999; position: absolute; top: 162px; left: 0; width: 100%; background: #fff;}
.sub_1 a:hover {transition: all .3s ease-out; color: #b45f1a;}

.all {text-align: center; font-size: 16px; padding: 50px 0; display: none;}
.all li {display: inline-block; width: 15%; border-right: 1px solid #d9d9d9; }
.all li:last-child {border-right: 0;}
.all li img {display: block; padding-bottom: 20px;}

.auto {font-size: 16px; padding: 50px 0;  display: none;}
.auto li {display: inline-block; width: 15%; margin-left: 200px; text-align: center;}
.auto li img {display: block; padding-bottom: 20px;}

.sed {font-size: 16px; padding: 50px 0;  display: none;}
.sed li {display: inline-block; width: 15%; margin-left: 200px; text-align: center;}
.sed li img {display: block; padding-bottom: 20px;}

.suvs {font-size: 16px; padding: 50px 0; padding-left: 270px;  display: none;}
.suvs li {display: inline-block; width: 20%; text-align: center; border-right: 1px solid #d9d9d9;}
.suvs li:last-child {border-right: 0;}
.suvs li img {display: block; padding-bottom: 20px;}


.sub_2 {display: none; z-index: 999; position: absolute; top: 91px; left: 65px; width: 1320px; background: #fff; border-top: 1px solid #d9d9d9;}
.sub_2 a:hover {transition: all .3s ease-out; color: #b45f1a;}
.sub_2_wrap {padding-left: 125px;}
.sub_2_wrap .sub_2_col {float: left; width: 25%; padding: 30px 0;}
.sub_2_wrap .sub_2_col h2 {font-size: 20px;}
.sub_2_wrap .sub_2_col .sep {border-top: 1px solid #d9d9d9; height: 1px; width: 90%; display: inline-block; margin: 20px 0;}
.sub_2_wrap .sub_2_col ul {}
.sub_2_wrap .sub_2_col ul li {line-height: 2;}
.sub_2_wrap .sub_2_col ul li a {display: block;}



.sub_3 {display: none; z-index: 999; position: absolute; top: 91px; left: 65px; width: 1320px; background: #fff; border-top: 1px solid #d9d9d9;}
.sub_3 a:hover {transition: all .3s ease-out; color: #b45f1a;}
.sub_3_wrap {padding-left: 125px;}
.sub_3_wrap .sub_3_col {float: left; width: 25%; padding: 30px 0;}
.sub_3_wrap .sub_3_col h2 {font-size: 20px;}
.sub_3_wrap .sub_3_col .sep {border-top: 1px solid #d9d9d9; height: 1px; width: 90%; display: inline-block; margin: 20px 0;}
.sub_3_wrap .sub_3_col ul {}
.sub_3_wrap .sub_3_col ul li {line-height: 2;}
.sub_3_wrap .sub_3_col ul li a {display: block;}





/* 슬라이드 */
.slider {position: relative; }
.slider .slick-dots {position: absolute; bottom: 45px; left: 0; display: block; width: 100%; text-align: center;}
.slider .slick-dots li { display: inline-block; width: 15px; height: 15px; margin: 10px;}
.slider .slick-dots li button {
	font-size: 0; line-height: 0;
	display: block; width: 10px; height: 10px;
	cursor: pointer;
	background: #fff;
	border-radius: 50%;
    border: 0;
    outline: 0;
}
.slider .slick-dots li.slick-active button {background: none; border: 2px solid #fff; width: 20px; height: 20px; }
.slider .slick-prev {
	position: absolute; right: 0; top: 360px; z-index: 1000;
	width: 70px; height: 70px;
	display: inline-block;
	text-indent: -9999px;
	font: normal  normal  normal 14px/1 FontAwesome;
	background: rgba(79,76,67,0.6);
    border: 0;
    outline: 0;
    
}
.slider .slick-prev:hover {background: #fff; transition: all ease-in .3s}
.slider .slick-prev:hover::before {color: #4f4c43; transition: all ease-in .3s}


.slider .slick-prev::before {
	content: "\f104";
	color: #fff;
	text-indent: 0;
	position: absolute; left: 25px; top: -5px;
    font-size: 50px;
    padding: 13px 0;
}

.slider .slick-next {
	position: absolute; right: 0; top: 290px; z-index: 1000;
	width: 70px; height: 70px;
	display: inline-block;
	text-indent: -9999px;
	font: normal  normal  normal 14px/1 FontAwesome;
	background: #b45f1a;
    border: 0;
    outline: 0;
}
.slider .slick-next:hover {background: #fff; transition: all ease-in .3s}
.slider .slick-next:hover::before {color: #4f4c43; transition: all ease-in .3s}

.slider .slick-next::before {
	content: "\f105";
	color: #fff;
	text-indent: 0;
	position: absolute; left: 28px; bottom: -2px;
    font-size: 50px;
    padding: 13px 0;

}


/* 컨텐츠1 */
.cont_left {position: relative; float: left; width: 728px; height: 760px; overflow: hidden;}
.cont_left img {width: 728px; height: 760px; transform: scale(1); transition: .3s all linear; }
.cont_left:hover img {transform: scale(1.07); transition: .3s all linear; }
.cont_left .txt_box {
    position: absolute; bottom: 40px; left: 50%;
    transform: translateX(-50%); text-align: center;
    color: #fff;
}
.cont_left .txt_box h3 {margin: 10px 0; font-size: 26px;}
.cont_left .txt_box p {font-size: 16px;}
.cont_left .txt_box .cont_btn { margin-top: 30px;}
.cont_left .txt_box .cont_btn a:hover {background: #fff; color: #000; transition: all 0.3s ease;}
.cont_left .txt_box .cont_btn a {border: 1px solid #fff; font-size: 16px; padding: 10px 24px; color: #fff;}

.cont_right {float: right; overflow: hidden;}

.cont_r1 {position:relative; width: 50%; float: left; height: 500px; overflow: hidden;}
.cont_r1 img {transform: scale(1); transition: .3s all linear; height: 500px;}
.cont_r1:hover img {transform: scale(1.07); transition: .3s all linear; }
.cont_r1 .txt_box {
    position: absolute; bottom: 40px; left: 50%;
    transform: translateX(-50%); text-align: center;
    color: #fff;
}
.cont_r1 .txt_box h3 {margin: 10px 0; font-size: 26px;}
.cont_r1 .txt_box p {font-size: 16px;}
.cont_r1 .txt_box .cont_btn { margin-top: 30px;}
.cont_r1 .txt_box .cont_btn a {border: 1px solid #fff; font-size: 16px; padding: 10px 24px; color: #fff;}
.cont_r1 .txt_box .cont_btn a:hover {background: #fff; color: #000; transition: all 0.3s ease;}

.cont_right .cont_r2 {position:relative; width: 50%; float: left; height: 500px; overflow: hidden;}
.cont_right .cont_r2 img {transform: scale(1); transition: .3s all linear; height: 500px;}
.cont_right .cont_r2:hover img {transform: scale(1.07); transition: .3s all linear;}
.cont_r2 .txt_box {
    position: absolute; bottom: 40px; left: 50%;
    transform: translateX(-50%); text-align: center;
    color: #fff;
}
.cont_r2 .txt_box h3 {margin: 10px 0; font-size: 26px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.cont_r2 .txt_box p {font-size: 16px;}
.cont_r2 .txt_box .cont_btn { margin-top: 30px;}
.cont_r2 .txt_box .cont_btn a {border: 1px solid #fff; font-size: 16px; padding: 10px 24px; color: #fff;}
.cont_r2 .txt_box .cont_btn a:hover {background: #fff; color: #000; transition: all 0.3s ease;}

.cont_right .cont_r3 {position:relative; width: 712px; height: 260px; margin-top: 500px;}
.cont_right .cont_r3 img {width: 712px; height: 260px; transform: scale(1); transition: .3s all linear;}
.cont_right .cont_r3:hover img {transform: scale(1.07); transition: .3s all linear;}
.cont_r3 .txt_box {
    position: absolute; bottom: 40px; left: 50%;
    transform: translateX(-50%); text-align: center;
    color: #fff;
}
.cont_r3 .txt_box h3 {margin: 10px 0; font-size: 26px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.cont_r3 .txt_box p {font-size: 16px;}
.cont_r3 .txt_box .cont_btn { margin-top: 30px;}
.cont_r3 .txt_box .cont_btn a {border: 1px solid #fff; font-size: 16px; padding: 10px 24px; color: #fff;}
.cont_r3 .txt_box .cont_btn a:hover {background: #fff; color: #000; transition: all 0.3s ease;}

/* 컨텐츠2 */
#content2 > div {position: relative; width: 33.333%; height: 500px; float: left; overflow: hidden;}
#content2 > div:hover img {transform: scale(1.08); transition: .3s all linear;}
#content2 > div > img {width: auto; height: 500px; transform: scale(1); transition: .3s all linear;}
.cont2_1 .cont2_box {
    position: absolute; bottom: 60px; left: 50%;
    transform: translateX(-50%); text-align: center;
    color: #fff;
}
.cont2_1 .cont2_box h3 {margin: 10px 0; font-size: 26px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.cont2_1 .cont2_box .cont2_btn {margin-top: 30px;}
.cont2_1 .cont2_box .cont2_btn a {border: 1px solid #fff; font-size: 16px; padding: 10px 24px; color: #fff;}
.cont2_1 .cont2_box .cont2_btn a:hover {background: #fff; color: #000; transition: all 0.3s ease;}

.cont2_2 .cont2_box {
    position: absolute; bottom: 60px; left: 50%;
    transform: translateX(-50%); text-align: center;
    color: #fff;
}
.cont2_2 .cont2_box h3 {margin: 10px 0; font-size: 26px; }
.cont2_2 .cont2_box .cont2_btn {margin-top: 30px;}
.cont2_2 .cont2_box .cont2_btn a {border: 1px solid #fff; font-size: 16px; padding: 10px 24px; color: #fff;}
.cont2_2 .cont2_box .cont2_btn a:hover {background: #fff; color: #000; transition: all 0.3s ease;}

.cont2_3 .cont2_box {
    position: absolute; bottom: 60px; left: 50%;
    transform: translateX(-50%); text-align: center;
    color: #fff;
}
.cont2_3 .cont2_box h3 {margin: 10px 0; font-size: 26px; }
.cont2_3 .cont2_box .cont2_btn {margin-top: 30px;}
.cont2_3 .cont2_box .cont2_btn a {border: 1px solid #fff; font-size: 16px; padding: 10px 24px; color: #fff;}
.cont2_3 .cont2_box .cont2_btn a:hover {background: #fff; color: #000; transition: all 0.3s ease;}

/* 공유 */
.share {}
.share span {font-size: 35px; float: left; margin-left: 680px; padding-right: 10px;}
.share h3 {font-size: 25px;  line-height: 2;}

/* 컨텐츠3 */
.cont3_box { width: 33.33%; float: left; text-align: center; }
.cont3_box .icon {position: relative; float: left; width: 100px; height: 100px; font-size: 45px; margin-top: 20px; }
.cont3_box .icon i {position: absolute; top: 13px; right: 0px; }

.cont3_box .cont3_txt {padding-top: 20px;font-size: 16px; width: 350px; height: 100px; line-height: 2;}
.cont3_box:last-child {position: relative;}
.cont3_box .cont3_txt p:last-child {position: absolute; top: 40px; left: 110px;}
.cont3_box .cont3_txt p {color: #b45f1a;}
.cont3_box .cont3_txt span {color: #a9a9a9;}

/* 컨텐츠4 */
.downbox {padding: 20px 120px; border-bottom: 1px solid #ddd;}
.downbox h3 {float: left; font-size: 16px; margin-left: 550px; color: #b65f07; margin-right: 10px;}
.downbox span {color: #b65f07;}
.downbox span i.tog {transform: rotate(180deg); transition: all 0.5s ease;}
.downbox_txt { display: none; height: 100px; background: rgb(247, 247, 247);}
.downbox_txt p {font-size: 16px; text-align: center; padding-top: 35px;}

/* 푸터 */
.f_menu {overflow: hidden; width: 960px; margin: 0 auto; padding: 40px 0;}
.f_box {float: left; width: 25%;}
.f_box > a {text-align: center; display: block; padding: 20px 0; font-size: 24px; border-bottom: 1px solid #d9d9d9;}
.f_sub {margin-left: 75px; margin-top: 20px;}
.f_sub li {}
.f_sub li a {display: block; color: rgba(79,76,67,0.6); margin: 0 0 10px;}
.f_sub li a:hover {color: #b45f1a;}

.footer_bar {height: 50px; background: #000; color: #fff;}
.f_left {position: relative; float: left; margin-left: 150px;}
.f_left > span { font-size: 40px; margin-right: 40px;}
.f_left > span i {position: absolute; top: 5px; left: 0;}
.f_left > p {float: right; margin-left: 40px; margin-top: 15px; color: #a9a9a9;}
.f_right {float: right; margin-right: 150px;}
.f_right p {float: left; margin-top: 15px; color: #a9a9a9;}
.f_right ul {float: left; margin-left: 20px; margin-top: 15px; color: #a9a9a9;}
.f_right ul li {position: relative; float: left; margin-right: 20px;}
.f_right ul li:before {content: ''; width: 1px; height: 12px; background: #a9a9a9;
position: absolute; right: -10px; top: 5px;}
.f_right ul li:last-child:before {width: 0;}























